@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu+Mono&display=swap');

.booking-jumpotron {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}
.booking-jumpotron img {
  width: 100%;
  position: absolute;
  top: -450px;
  filter: brightness(0.6);
}
.booking-container {
  text-align: left;
  position: relative;
  margin: 50px auto 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.reserve-header {
  font-family: Karla;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 40px;
  text-align: center;
}

.reserve-details {
  font-family: Karla;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 10px;
}
.booking-form {
  display: grid;
  justify-content: center;
  max-width: 700px;
  width: 100%;
}
.booking-form div.booking-div {
  display: grid;
  margin-bottom: 20px;
}
.reserve-label {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
}
.reserve-input {
  height: 35px;
  width: 386px;
  border-radius: 5px;
  background: #F1F1F1;
  border: 0;
  padding: 0 10px;
  /* text */
  font-family: Karla;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #4E5A56;
}
.reserve-input::placeholder {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  color: #7e7e7e;
}
.reserve-input:hover {
  border: 1px solid var(--hover-effect)
}
.additional-comment {
  width: 386px;
  padding: 10px;
}
.additional-comment::placeholder {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  color: #7e7e7e;
}
select.reserve-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 5px;
}
.btns-container {
  width: 386px;
  display: flex;
  gap: 20px;
}
button[name=submit-btn],
button[name=book-btn] {
  width: 386px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background: var(--primary-green);
  color: white;
  /* text */
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
}

button[name=submit-btn]:disabled,
button[name=book-btn]:disabled,
button[name=checkout-btn]:disabled {
  background-color: rgb(176, 176, 176);
  color: linen;
  opacity: 1;
}

button[name=checkout-btn] {
  width: 183px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background: var(--primary-green);
  color: white;
  /* text */
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
}

.booking-text-top {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #20C997;
  padding-bottom: 40px;
}
.booking-text-top p {
  padding-bottom: 10px;
}

.reserve-note-one,
.reserve-note-two {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FF8D08;
  width: 386px;
  margin-top: 10px;
}
.reserve-note-one {
  font-size: 12px;
}
.reserve-note-two {
  font-size: 16px;
}

.reserve-label-step-three {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.reserve-label-step-three,
.booking-text-top p {
  padding-bottom: 25px;
}

.section-seeya {
  color:#949494;
  text-align: center;
  margin: 50px auto;
}
.section-seeya p {
  padding-bottom: 15px;
}
.seeya-header {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;  
}
.seeya {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}
/* Validations */

.reserve-input:focus:valid {
  background: url("../public/Assets/like.svg") no-repeat 92% 50% rgb(179, 255, 179);
  background-size: 25px;
  outline: 0;
}

.reserve-input:focus:invalid {
  background: url("../public/Assets/varning.svg") no-repeat 92% 50% rgb(255, 201, 179);
  background-size: 25px;
  outline: 0;
  margin-bottom: 4px;
}
.reserve-input:invalid {
  margin-bottom: 4px;
}
.reserve-input:focus:valid > option {
  background-color: aliceblue;
}
.required-error {
  padding: 4px 4px 4px 10px;
}
.required-error,
.state-error {
  font-size: 13px;
  font-weight: 500;
  color: tomato;
}
