.text-two-section {
  text-align: left;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.text-two-section h1 {
  font-family: Markazi Text;
  font-size: 75px;
  font-weight: 600;
  color: var(--primary-yellow);
  margin-top: 10px;
}
.text-two-section h4 {
  font-family: Markazi Text;
  font-size: 53px;
  font-weight: 500;
  color: var(--secondary-pastel);
  position: relative;
  top: -10px;
}

.text-two-section-description {
  font-family: Karla;
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary-pastel);
  width: 325px;
}
button.reserve {
  color: var(--secondary-black);
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--primary-yellow);
  width: 220px;
  height: 45px;
  border: 0;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.specials-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.specials-header h3 {
  font-family: Markazi Text;
  font-size: 53px;
  font-weight: 500;
}
.specials-header button {
  background-color: var(--primary-yellow);
  color: var(--secondary-black);
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 47px;
  width: 164px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}
.article-specials {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 31px;
}

.specials-card {
  display: flex;
  flex-direction: column;
}
.card-img {
  height: 156px;
  width: 265px;
  border-radius: 10px 10px 0 0;
}
.card-img img {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card-text {
  height: 257px;
  width: 265px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.card-header h5 {
  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.card-price {
  font-family: Karla;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: var(--secondary-peach);
}
.card-description {
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--primary-green);
}
.card-link {
  font-family: Karla;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  display: flex;
  justify-content: flex-start;
}
.card-link svg {
  width: 20px;
  height: 20px;
  margin-left: 11px;
  position: relative;
  top: -3px;
}

.testimonials-header h4 {
  font-family: Karla;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
}
.article-testimonials {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  text-align: left;
}
.testimonials-imgs {
  background-color: #EFEEEE;
  padding: 25px 18px;
  row-gap: 12px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.rating-header {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.user-icon {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: start;
}
.user-img {
  width: 50px;
  height: 50px;
}
.user-name {
  font-family: Karla;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--primary-green);
  padding-left: 10px;
}
.review {
  font-family: Karla;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}
.text-about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-about-section h1 {
  color: var(--primary-yellow);
  font-family: Karla;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
}
.text-about-section h4 {
  font-family: Karla;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin-top: 4px;
}
.text-about-section-description {
  font-family: Karla;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  height: 237px;
  width: 378px;
  margin-top: 85px;
}

.image-about-section {
  padding-top: 33px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.container-img-first,
.container-img-second {
  height: 368px;
  width: 270px;
  position: absolute;
  overflow: hidden;
}
.container-img-first {
  z-index: 2;
}
.container-img-first img {
  position: relative;
  right: 200px;
}
.container-img-second {
  top: 130px;
  right: 158px;
}

.container-img-second img {
  position: relative;
  right: 170px;
}
